@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4">
    <h1 class="display-4">Welcome in GitHub</h1>

    <img src="https://portswigger.net/cms/images/54/14/6efb9bc5d143-article-190612-github-body-text.jpg" class="img-fluid" alt="GitHub image">

</div>
